ul{
  list-style: none;
  margin:0;
  padding:0;
}
.d-flex{
  display: flex;
}
.d-flex li{
  flex: 0 0 15rem;
}
.flex-wrap{
  flex-wrap:wrap;
}
.gap1{
 gap:1rem;
}
/*장르*/
.genre{
  margin: 0 0.25rem;
}